version: "3.9"

services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "80:80"
    volumes:
      - .:/code
    command: uvicorn app.main:app --host 0.0.0.0 --port 80 --reload
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/app_db

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
